<h5>Sign up to create and take surveys!</h5>

<% if @errors %>
  <% @errors.each do |error|%>
    <%= error %>
  <%end%>
<%end%>

<form id="login_form" method="post" action="/signup">
  <ul>
    <li><input id="signup-username" type="text" name="user[username]" value="Username"></li>
    <li id="list_conf"><input id="signup-password" type="password" name="user[password]" value="Password"></li>
    <li><input id="signup-confirm-password" type="password" name="user[password_confirmation]" value="Password"></li>
    <li><input type="submit" value="Create Account"></li>
  </ul>
</form>
