<h2> List of surveys: </h2>

<% @surveys.each do |survey| %>
  <h3><%= survey.title %></h3>
    <p>
     <a href = "/surveys/results/<%= survey.title %>">Results</a>
      <% if logged_in? && current_user.can_take_survey?(survey) %>
        <a href="/surveys/<%= survey.title %>">Take Survey</a>
      <% end %>
    </p>
<%end%>
