<h2> List of surveys: </h2>

<% @surveys.each do |survey| %>
  <h3><a href = "/surveys/<%= survey.title%>"> <%=survey.title %> </a></h13>
  <p>
  <a href = "/surveys/<%=survey.title%>/results">Results </a>
  <% if logged_in? %>
  <a href="/surveys/<%=survey.title%>">Take Survey</a>
  </p>
  <%end%>
<%end%>
