<main class="form-wrapper" role="main">
  <form method="post" action="/surveys">
    <table border="0">
      <tr><td><b>Survey Title:</b></td><td><input type="text" name="title" size="20" autocorrect="off" autocapitalize="off" required="required"></td></tr>
      <tr><td><b>Question:</b></td><td><input type="text" name="question" size="20" autocorrect="off" autocapitalize="off" required="required"></td></tr>
      <tr><td>choice:</td><td><input type="text" name="choices[0][text]" size="20" autocorrect="off" autocapitalize="off" required="required"></td></tr>
      <tr><td>choice:</td><td><input type="text" name="choices[1][text]" size="20" autocorrect="off" autocapitalize="off"></td></tr>
      <tr><td>choice:</td><td><input type="text" name="choices[2][text]" size="20" autocorrect="off" autocapitalize="off"></td></tr>
      <tr><td>choice:</td><td><input type="text" name="choices[3][text]" size="20" autocorrect="off" autocapitalize="off"></td></tr>
      <tr><td>Optional: Add a photo URL:</td><td><input type="text" name="photo" size="20" autocorrect="off" autocapitalize="off"></td></tr>
    </table>
    <input type="submit" value="create"></form>
  </form>
</main>
