<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>


<div class="navbar">
  <div id="logo_img" align="left">
    <a href="/surveys"><img border="0" alt="llama" src="/images/logo.png" width="100" height="100"></a>
  </div>

  <div id="nav_links" align="right">
    <% if logged_in? %>
      <li class = "bar"><a href = "/logout"> sign out </a></li>
      <span><font color="black">Yo, <%= current_user.username %>!</font></span>
      <!-- <li class = "bar"><a href = "/surveys"> home </a></li> -->
      <li class="bar"><a href="/surveys/new"> create survey </a></li>
    <%else%>
      <li class = "bar"><a href = "/login"> sign in </a></li>
      <li class = "bar"><a href = "/signup"> create account </a></li>
    <%end%>
    <form method="post" action="/surveys/search">
      <input id="search_form" type="text" name="search" value="" placeholder="search">
    </form>
  </div>
</div>


<div id="content">
  <%= yield %>
</div>
</body>
</html>
