<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<ul class = "navbar">
<% if logged_in? %>
  <li class="bar"><a href="/surveys/new">Create a Survey</a></li>
  <!-- changed this link to a profile page later -->
  <li class="bar">Yo! <%= current_user.username %></a></li>
  <li class = "bar"> <a href = "/logout"> Signout </a></li>
<%else%>
  <li class = "bar"> <a href = "/signup"> Create Account</a></li>
  <li class = "bar"> <a href = "/login"> Sign In </a></li>
<%end%>
</ul>


<div id="content">
  <%= yield %>
</div>
</body>
</html>
