<p>Sign in to create and take surveys.</p>
<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <%end%>
<%end%>
  <form id="login_form" method="post" action="/login">
    <ul>
      <li><input id="username" type="text" name="username" value="Username"></li>
      <li><input id="password" type="password" name="password" value="Password"></li>
      <li><input type="submit" value="Sign In"></li>
    </ul>
  </form>
Not a member? Sign up <a href="/signup">here.</a>

